.nav-section {
  background: rgb(219, 219, 219);
  width: 100%vw;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.profile-section {
  width: 30%;
}

.profile-btn {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  outline: none;
  border: none;
  background: #13b113;
  color: white;
  margin-left: 5px;
}

.add-btn-section {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.input-field {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: 1px rgb(218, 218, 218);
  padding-left: 10px;
}

.search-btn {
  height: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #1a7ac9;
  color: white;
  margin-left: 5px;
}

.add-btn {
  height: 25px;
  width: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #1a7ac9;
  color: white;
  margin-left: 5px;
}

/* view section */



.employee-title {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}
.cards {
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5; /*Gap between grid items */
  justify-items: center; /* Center align grid items horizontally */
  align-items: center; /* Center align grid items vertically */
}

.card {
  margin-top: 20px;
  width: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
}

.emp-id-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.emp-id-section p {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  margin: 0;
}

.avatar  {
  background: #d65252;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  
}

.emp-details {
  text-align: left;
  margin-bottom: 10px;
}

.emp-details p {
  margin: 5px 0;
}

.emp-controls {
  display: flex;
  justify-content: space-around;
}

.emp-controls img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Add this to your Card.css file */

.modal {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  height: 350px;
}

.close {
  color: #aaa;
  align-self: flex-end; /* Align to the end (right) */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}